*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* background: black; */
}
body{
    background: linear-gradient(180deg, black, rgb(27, 38, 77), rgb(42, 59, 123));
    background-repeat: no-repeat;
    color: #fff;
}


/* NAVBAR */
nav {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 5px 20px;
    background-color: black;
    color: #fff;
    z-index: 100;
}



.logo{
    width: 110px;
    /* min-width: 100px; */
    /* max-width: 110px; */
    padding: 5px 20px 5px 0;
}
.logo img{
    width: 100%;
    /* max-width: 20px; */
    height: 100%;
    margin: 0 auto;
    border-radius: 50px;
}
.nav-icons {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: max-content;
}
.nav-icons ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-icons ul li {
    padding: 16px 20px;
}
.nav-icons ul li a{
    display: flex;
    align-items: center;
    height: 20px;
}

.nav-icons ul li:hover{
    cursor: pointer;
}


.profilePic{
    /* display: none; */
    position: absolute;
    right: 0;
    width: 40px;
    top: 5px;
    margin-right: 15px;
    border-radius: 20px;
    padding: 5px 0;
}
.profilePic img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
    top: -1px;
}
.dropdown-content{
    display: none;
    margin-top: 10px;
    left: 0px;
    position: absolute;
    background-color: #000000;
    min-width: 180px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid rgb(116, 115, 115);
    box-shadow: 0px 8px 16px 0px rgba(172, 172, 172, 0.2);
    z-index: 1;
    padding: 20px;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}

.nav-icons li:hover
.icon-content{
   
    animation: border forwards 1s ;
}


@keyframes border {
    0% {
        width: 0%;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }
    100% {
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }
}
@keyframes iconBorder {
     0% {
        width: 0%;
        border-bottom: 2px solid #fff;
    }
    100% {
        width: 100%;
        border-bottom: 2px solid #fff;
    }
}

.dropdown-content a i {
    font-size: 1.1rem;
    margin-right: 25px;
    width: 10%;
    text-align: right;
}
.dropdown-content a p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.dropdown-content a .fa-star {
    padding-right: 0px;
}

#more-icons{
    display: none;
}


@media (max-width: 750px){
    nav{
        padding: 5px 10px;
    }
    .nav-icons{
        padding-right: 50px;
    }
}


@media (max-width: 1025px ){
    .nav-icons ul{
        font-size: 15px;
    }
    
    .nav-icons ul li {
        padding: 16px 12px;
    }
    .main-icons{
        height: 15px;
    }
    .nav-icons ul .main-icons:hover{
        animation: iconBorder forwards 0.5s ;
    }
    .icons,
    .icon-content{
        display: none;
    }
    #more-icons{
        display: block;
    }
    .dropdown-content a{
        margin-bottom: 5px;
    }

    #more-icons:hover
    .dropdown-content{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        width: 100%;
    }
    .dropdown-content a:hover
    .link-content{
        width: 50%;
        margin: 0 auto;
        border-bottom: 2px solid #fff;
    }
   

}
@media (min-width: 1025px){
    .logo{
        width: 150px;
    }
    .nav-icons ul li i {
    margin-right: 10px;
    }
    #more-icons{
       display: none;
    }

}
/* NAVBAR */

:root{
    --big_width: 80%;
    --big_height: 40%;
    --box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
    --big_nav_width: 12%;
}

.carousel{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-X: hidden;
    box-sizing: border-box;
    /* background-color: black; */
    margin-bottom: 20px;
}
.carousel-inner {
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	/* width: var(--big_width); */
	/* height: 0; */
	/* padding-bottom: var(--big_height); */
	user-select: none;
	/* background-color: black; */
	/* box-shadow: var(--box-shadow); */

    /* Extra code */
    perspective: 1000px;
    transform-style: preserve-3d;
    z-index: 19;
    width: 80%;
    padding-bottom: 25%;
}


/* TODO: turn it back on after is done */
.carousel input {
    display: none;
}


.img-slide{
	position: absolute;
    height: 100%;
    /* z-index: -1; */
    width: 100%;
    transition: transform 0.3s ease;
    /* Extra code below */
    z-index: 10;
    box-shadow: var(--box-shadow);
    /* max-height: 400px; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-shadow: 2px 1px 2px #111;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.00);
}
.img-slide:hover{
    border: 3px solid #eee;
}

img {
    /* width: inherit; */
    /* height: inherit; */
    width: 100%;
    height: 100%;
}

#img-1{
    background: url("https://images.unsplash.com/photo-1528041119984-da3a9f8d04d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGlzbmV5fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#img-2{
    background: url("./pictures/moana2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
  
    /* background-image: -webkit-linear-gradient(
        top,
        orange,
        yellow 55%, 
        orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

#img-3{
    background: url("https://images.unsplash.com/photo-1598759612090-6fa88db25a1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGRpc25leXxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img-slide h1{
    font-size: 4vw;
}
.img-slide p{
    font-size: 2vw;
    font-weight: 700;
}
@media (max-width: 7700px){
    /* .img-slide h1{
        font-size: 2rem;
    }
    .img-slide p{
        font-size: 1.5rem;
    } */
}

.carousel .prev, .next {
    /* width: var(--big_nav_width); */
    height: 100%;
    position: absolute;
    top: 0;
    /* background-color: black; */
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    /* extra code write below */
    display: none;
    width: 5%;

}

.prev {
    /* left: 0; */
    left: -5%;
}

.next {
    right: -5%;
}

.prev:hover, .next:hover {
    transition: .3s;
    opacity: 1;
}

.prev span, .next span {
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid 20px;
    top: 50%;
    transform: translateY(-50%);
}

.prev span {
    border-color: transparent #fff transparent transparent;
    right: 30%;
}
    
.next span {
    border-color: transparent transparent transparent #fff;
    left: 30%;
}

#indicators {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    /* text-align: center; */
    z-index: 99;
    cursor: default;
    /* Extra code */
    text-align: right;
}

.bullets {
    top: -5px;
    width: 18px;
    height: 18px;
    /* margin: 0 3px; */
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
    cursor: pointer;
    /* Extra code */
    border: 1px solid #eee;
    margin: 0 10px;
    right: 12%;
}

.bullets:hover{
    background: #fff;
}

#s1:checked ~ #indicators label:nth-child(1),
#s2:checked ~ #indicators label:nth-child(2),
#s3:checked ~ #indicators label:nth-child(3){
    background-color: #fff;
}

#s1:checked ~ #img-1 label,
#s2:checked ~ #img-2 label,
#s3:checked ~ #img-3 label{
    display: block;
}

#s1:checked ~ #img-3, #s2:checked ~ #img-1,
#s3:checked ~ #img-2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    transform: translate3d(-15%, 0, 0) translateX(-90%);
}

#s1:checked ~ #img-1, #s2:checked ~ #img-2,
#s3:checked ~ #img-3 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0,0,0);
    /* opacity: 1; */
    z-index: 20;
}

#s1:checked ~ #img-2, #s2:checked ~ #img-3,
#s3:checked ~ #img-1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    /* transform: translate3d(-15%, 0, 0) translateX(-300px); */
    transform: translate3d(15%, 0, 0) translateX(90%);
}

@media (min-width: 1650px){
    #indicators{
        /* Extra code */
        /* text-align: right; */
        /* position: relative; */
        top: 350px;
        /* display: flex; */
        /* justify-content: flex-end; */
    }
}

/* CATEGORIES */
.categories{
    width: 90%;
    height: 100%;
    padding-bottom: 40px;
    margin: 0 auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(6, 1fr);
}

.section {
    width: 100%;
    /* max-width: 200px; */
    /* height: 100%; */
    height: 9vw;
    padding: 30px 40px;
    border: 3px solid rgb(67, 65, 65);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    
}


@keyframes bigger{
    0% {
        transform: scale(0.95);
        padding: 30px 40px;
    }
    100%{    
        transform: scale(1);
        border: 5px solid #eee;
        padding: 30px 50px;
    }
}


.title{
    position: absolute;
    padding: 5px 10px;
    text-shadow: 1px 2px 1px #111;
    z-index: 50;
    font-size: 1.2vw;
    text-align: center;
}

.section video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    opacity: 0;
}

.section:hover{
    border: 3px solid #eee;
    transition: 0.3s;
    transform: scale(1.05);
    cursor: pointer;
}

.title:hover ~ video{
    opacity: 1;;
}
.section video:hover{
    opacity: 1;
}

@media (max-width: 770px){
    .section{
        height: 15vw;
    }
    .categories{
        grid-template-columns: repeat(3, 1fr);
    }
    .title{
        font-size: 2vw;
    }
}


/* NEW ARRIVALS */
/* 
.image-grid {
    padding: 0 50px;
    overflow-x: auto;
    margin-top: 50px;
} */

.new-shows{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 300px;
    overflow-x: auto;
}

.new-shows input {
    display: none;
}
.new-shows .section{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 300px;
}
.section .show{
    /* position: relative; */
    /* min-width: 300px; */
    width: 100%;
    height: 100%;
    margin: 10px 20px;
    transform: scale(0.95);
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


@keyframes bigger{
    0% {
        transform: scale(0.95);
        border: 0px solid #eee;
    }
    100%{    
        transform: scale(1);
        border: 4px solid #eee;
    }
}
.show:hover{
    animation: bigger 0.3s forwards;
}

#show1{
    background: url("https://images.unsplash.com/photo-1598759612090-6fa88db25a1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGRpc25leXxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}




/* New to Disney+ */
.disney-categories{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-X: hidden;
    box-sizing: border-box;
}
.disney-categories::-webkit-scrollbar{
    visibility: hidden;
}
.disney-categories input{
    display: none;
}
.category-title{
    width: 90%;
    margin: 0 auto;
    font-size: 0.8rem;
}

.shows{
   position: relative;
   display: flex;
   /* justify-content: center; */
   width: 90%;
   /* margin: 0 10px; */
   transform-style: preserve-3d;
   perspective: 1000px;
   /* padding: 0 20px 60% 20px */
   padding-bottom: 30%;
   margin: 0 auto;
}
.shows .film{
    position: absolute;
    min-width: 34vw;
    /* min-width: 170px; */
    /* height: 100px; */
    height: 20vw;
    transition: 0.4s;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    text-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    margin: 10px 10px;
}

.film .filmName{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2px;
    position: absolute;
    font-size: 2.5vw;
    text-align: center;
    width: 70%;
}


/* .shows::-webkit-scrollbar{
    visibility: hidden;
} */

.shows span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
    top: 0;
    width: 20px;
    height: 80%;
    font-size: 80px;
    color: white;
    cursor: pointer;
    left: -3%;
    z-index: 50;
    /* opacity: 0; */
    transition: 0.2s;

}
.shows span:nth-child(2){
    left: 94%;
    justify-content: flex-start;
    align-items: center;
    /* right: 0; */
}

@media (min-width: 772px){
    .shows .film{
        min-width: 25vw;
        min-height: 10vw;
        max-height: 15vw;
    }
    .shows{
        padding-bottom: 21.5%;
    }
    .shows span{
        height: 80%;
    }
    .shows span:nth-child(2){
        left: 102%;
    }
    .film .filmName{
        font-size: 1.2rem;
    }
}
@media (min-width: 1025px){
    .shows .film{
        min-width: 18.5vw;
        min-height: 10vw;
        max-height: 12vw;
    }
    .shows .filmName{
        font-size: 1.3vw;
    }
    .shows{
        padding-bottom: 17%;
    }
    .shows span{
        height: 80%;
    }
    .shows span:nth-child(2){
        left: 101%;
    }
    .film .filmName{
        font-size: 1.2rem;
    }
}
@media (min-width: 1440px){
    .shows .film{
        min-width: 15vw;
        max-height: 10vw;
    }
    .shows{
        padding-bottom: 14%;
    }
    .film .filmName{
        font-size: 1.3rem;
    }
    .shows span:nth-child(2){
        left: 101%;
    }
}

.shows span:hover{
    opacity: 1;
}

/* New to Disney+ */
#slide1:checked ~ .shows span:nth-child(1){
    display: none;
}
#slide2:checked ~ .shows span:nth-child(1){
    display: flex;
}
#slide3:checked ~ .shows span:nth-child(1){
    display: flex;
}
#slide3:checked ~ .shows span:nth-child(2){
    display: none;
}


/* Because you watched Moana */
#slide4:checked ~ .shows span:nth-child(1){
    display: none;
}
#slide5:checked ~ .shows span:nth-child(1){
    display: flex;
}
#slide6:checked ~ .shows span:nth-child(1){
    display: flex;
}
#slide6:checked ~ .shows span:nth-child(2){
    display: none;
}

/* Recommended for You */
#slide7:checked ~ .shows span:nth-child(1){
    display: none;
}
#slide8:checked ~ .shows span:nth-child(1){
    display: flex;
}
#slide9:checked ~ .shows span:nth-child(1){
    display: flex;
}
#slide9:checked ~ .shows span:nth-child(2){
    display: none;
}

.film:hover{
    transition: 0.1s;
    border: 3px solid #eee;
    cursor: pointer;
}


#film1{
    background: url("./pictures/toystory.jfif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#film2{
    background: url("./pictures/moana.jfif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
#film3{
    background: url("./pictures/elf.jfif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#film4{
    background: url("./pictures/frozen.jfif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
#film5{
    background: url("./pictures/cinderalla.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film6{
    background: url("./pictures/beautybeast.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
}
#film6 .filmName{
    width: 80%;
}
#film7{
    background: url("./pictures/mermaid.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film8{
    background: url("./pictures/princessfrog.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film8 .filmName{
    width: 70%;
}
#film9{
    background: url("./pictures/queenofKatwe.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film10{
    background: url("./pictures/titans.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film10 .filmName{
    width: 70%;
}
#film11{
    background: url("./pictures/ratatouille.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film12{
    background: url("./pictures/insideOut.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film13{
    background: url("./pictures/nemo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film14{
    background: url("./pictures/frozen.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film15{
    background: url("./pictures/zootopia.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film16{
    background: url("./pictures/mulan.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film17{
    background: url("./pictures/black\ panther.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film18{
    background: url("./pictures/avengers-endgame.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film18 .filmName{
    width: 70%;
  
}
#film19{
    background: url("./pictures/coco.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film20{
    background: url("./pictures/soul.jfif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film21{
    background: url("./pictures/lady-tramp.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film21 .filmName{
    width: 70%;
    
}
#film22{
    background: url("./pictures/Wall-e.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film23{
    background: url("./pictures/snow-white.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film23 .filmName{
    width: 70%;
    font-size: 0.8rem;
}
#film24{
    background: url("./pictures/Lion-king.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film25{
    background: url("./pictures/up.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film26{
    background: url("./pictures/aladdin.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film27{
    background: url("./pictures/aristocats.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film28{
    background: url("./pictures/raya-the-last-dragon.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film28 .filmName{
    width: 70%;
    
}
#film29{
    background: url("./pictures/cars.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film30{
    background: url("./pictures/christopher-robin.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film31{
    background: url("./pictures/peter-pan.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film32{
    background: url("./pictures/nightmare-before-christmas.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film32 .filmName{
    font-size: 0.8rem;
}
#film33{
    background: url("./pictures/pinocchio.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film34{
    background: url("./pictures/bambi.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film35{
    background: url("./pictures/tangled.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film36{
    background: url("./pictures/big-hero-6.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film37{
    background: url("./pictures/lilo-stitch.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film38{
    background: url("./pictures/incredibles.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film39{
    background: url("./pictures/toy-story-3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film40{
    background: url("./pictures/honey-i-shrunk-the-kids.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film41{
    background: url("./pictures/brave.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film42{
    background: url("./pictures/boss-baby-back.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film43{
    display: none;
}
#film44{
    display: none;
}
#film45{
    display: none;
}



