*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: black; */
}
body{
    background-color: black;
}
.container{
    width: 100%;
    max-width: 1200px;
    background: black;
    margin: 0 auto;
}

/* NAVBAR */
nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 5px 20px;
    background-color: black;
    color: #fff;
    z-index: 100;
}

.logo{
    width: 110px;
    /* min-width: 100px; */
    /* max-width: 110px; */
    padding-right: 20px;
}
.logo img{
    width: 100%;
    /* max-width: 20px; */
    height: 100%;
    margin: 0 auto;
    border-radius: 50px;
}
.nav-icons {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: max-content;
}
.nav-icons ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-icons ul li {
    padding: 16px 20px;
}
.nav-icons ul li a{
    display: flex;
    align-items: center;
    height: 20px;
}

.nav-icons ul li:hover{
    cursor: pointer;
}


.profilePic{
    /* display: none; */
    position: absolute;
    right: 0;
    width: 40px;
    top: 0px;
    margin-right: 15px;
    border-radius: 20px;
    padding: 5px 0;
}
.profilePic img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
    top: -1px;
}
.dropdown-content{
    display: none;
    margin-top: 10px;
    left: 0px;
    position: absolute;
    background-color: #000000;
    min-width: 180px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid rgb(116, 115, 115);
    box-shadow: 0px 8px 16px 0px rgba(172, 172, 172, 0.2);
    z-index: 1;
    padding: 20px;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}

.nav-icons li:hover
.icon-content{
   
    animation: border forwards 1s ;
}


@keyframes border {
    0% {
        width: 0%;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }
    100% {
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }
}
@keyframes iconBorder {
     0% {
        width: 0%;
        border-bottom: 2px solid #fff;
    }
    100% {
        width: 100%;
        border-bottom: 2px solid #fff;
    }
}

.dropdown-content a i {
    font-size: 1.1rem;
    margin-right: 25px;
    width: 10%;
    text-align: right;
}
.dropdown-content a p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.dropdown-content a .fa-star {
    padding-right: 0px;
}

#more-icons{
    display: none;
}


@media (max-width: 750px){
    nav{
        padding: 5px 10px;
    }
    .nav-icons{
        padding-right: 50px;
    }
}


@media (max-width: 1025px ){
    .nav-icons ul{
        font-size: 15px;
    }
    
    .nav-icons ul li {
        padding: 16px 12px;
    }
    .main-icons{
        height: 15px;
    }
    .nav-icons ul .main-icons:hover{
        animation: iconBorder forwards 0.5s ;
    }
    .icons,
    .icon-content{
        display: none;
    }
    #more-icons{
        display: block;
    }
    .dropdown-content a{
        margin-bottom: 5px;
    }

    #more-icons:hover
    .dropdown-content{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        width: 100%;
    }
    .dropdown-content a:hover
    .link-content{
        width: 50%;
        margin: 0 auto;
        border-bottom: 2px solid #fff;
    }
   

}
@media (min-width: 1025px){
    .logo{
        width: 150px;
    }
    .nav-icons ul li i {
    margin-right: 10px;
    }
    #more-icons{
       display: none;
    }

}
/* NAVBAR */


/*  */

#test {
    background: #111;
    color: #fff;
    height: 45vh;
    width: 100%;
    position: relative;
    padding: 0 20px;
    user-select: none;
    margin: 0 auto;
    /* padding-top: 100px; */
    margin-top: 20px;
    overflow: hidden;
}

#slider {
  
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin: 0 auto;
}

/* #slider label img{
    width: 100%;
    height: 100%;
} */

#slider label:hover{
    /* width: 500px; */
    border: 5px solid #eee;
}


[type=radio] {
    display: none;
}

#slider > label {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    /* height: auto; */
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}
.slide{
    padding: 20px 60px;
}
#slide1{
    background: url("https://images.unsplash.com/photo-1604883781245-0aca44fff711?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGlzbmV5fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}
#slide2{
    background: url("https://images.unsplash.com/photo-1578318099746-8701bb066ceb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZGlzbmV5fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}
#slide3{
    background: url("https://images.unsplash.com/photo-1605493666596-f605022f28ce?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGRpc25leXxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}
#slide4{
    background: url("https://images.unsplash.com/photo-1598759612090-6fa88db25a1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGRpc25leXxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}
#slide5{
    background: url("https://images.unsplash.com/photo-1528041119984-da3a9f8d04d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGlzbmV5fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}
#slider > label img{
    width: 100%;
    height: 100%;
}


#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    /* transform: translate3d(-30%, 0, -200px) translateX(-500px) scale(0.5); */
    /* transform: translate3d(-30%, 0, -200px) translateX(-500px) scale(1); */
    opacity: 0;

}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    /* transform: translate3d(-15%, 0, -100px) translateX(-270px) scale(0.75); */
    opacity: 0.5;
    transform: translate3d(-15%, 0, 0) translateX(-800px);
    
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0,0,0);
    opacity: 1;
    z-index: 40;
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    /* transform: translate3d(15%, 0, -100px) translateX(270px) scale(0.75); */
    opacity: 0.5;
    transform: translate3d(15%, 0, 0) translateX(800px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    /* transform: translate3d(30%, 0, -200px) translateX(500px) scale(0.5); */
    transform: translate3d(30%, 0, 0) translateX(500px) scale(0.5);
    opacity: 0;
}

#s1:checked ~ #controls label:nth-child(2),
#s2:checked ~ #controls label:nth-child(3),
#s3:checked ~ #controls label:nth-child(4),
#s4:checked ~ #controls label:nth-child(5),
#s5:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   /* background-color: #eee; */
   /* height: 4rem; */
   position: absolute;
   top: 0;
   right: 0;
   float: right;
   /* z-index: 50; */
}

#s5:checked ~ #controls label:nth-child(4),
#s1:checked ~ #controls label:nth-child(5),
#s2:checked ~ #controls label:nth-child(1),
#s3:checked ~ #controls label:nth-child(2),
#s4:checked ~ #controls label:nth-child(3){
   background: url("https://image.flaticon.com/icons/svg/130/130882.svg")no-repeat;
   /* background-color: #eee; */
   /* height: 2rem; */
   position: absolute;
   left: 0;
   top: 0;
   float: left;
}
#s1:checked ~ #bullets label:nth-child(1),
#s2:checked ~ #bullets label:nth-child(2),
#s3:checked ~ #bullets label:nth-child(3),
#s4:checked ~ #bullets label:nth-child(4),
#s5:checked ~ #bullets label:nth-child(5)
 {
   background: #fff;
   /* background: pink; */
}


#controls {

   position: absolute;
   /* display: flex; */
   /* justify-content: space-between; */
   width: 100%;
   margin: 0 auto;
   height: 100%;
   top: 50%;
   z-index: 50;
}
#controls label {
    /* top: 360px; */
    /* transition: opacity 0.2s ease-out; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    opacity: 1;
}
#controls label:hover {
   opacity: 1;
   border: none;
   cursor: pointer;
   /* background-color: #fff; */
}

#bullets {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* height: auto; */
    /* position: relative; */
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    right: 0;
    bottom: 40px;
}
#bullets label {
    /* top: 500px; */
    display: flex;
    position: relative;
    /* position: absolute; */
    margin: 0 auto;
    width: 10px;
   height: 10px;
   border-radius:100%;
   border: 1px solid rgb(90, 89, 89);
   /* background: rgb(140, 138, 138); */
   background: #eee;
   margin: 0 10px;
   z-index: 80;
}




@media (min-width: 900px){
    #bullets{
        width: 55%;
        /* right: 50px; */
        /* align-items: center; */
        justify-content: center;
    }
 
}


/* TEST 2 */



/*  */


.carousel {
    display: flex;
    height: 50vh;
    width: 100%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin: 0 auto;
}

.carousel-inner {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin: 0 auto;
}



/* .carousel-open:checked + .carousel-item {
    opacity: 1;
    margin: 0 auto;
} */

/* #carousel-1:checked + .carousel-item {
    opacity: 1;
    margin: 0 auto;
} */

.carousel-item {
    height: 100%;
    opacity: 0.2;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;

}

.carousel-control {
    background: gray;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 50px;
    height: 50px;
    line-height: 45px;
    position: absolute;
    top: 25%;
    text-align: center;
    width: 50px;
    z-index: 10;
}


.carousel-control.prev {
     left: 2%;
 }

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: black;
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    /* position: absolute; */
    bottom: 1%;
    /* left: 0; */
    /* right: 0; */
    text-align: center;
    z-index: 10;

    /* write test code below */
    position: absolute;
    right: 80px;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 10px;
}

.carousel-bullet {
    color: #428bca;
    cursor: pointer;
    display: block;
    font-size: 100px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet
{
    color: yellow;
}

.item-1 {
    background-image:url("https://images.unsplash.com/photo-1457003633805-c9e8bd076e0b?ixlib=rb-0.3.5&s=68dc505c6baa70d3caace1bbc422f1c0&auto=format&fit=crop&w=1650&q=80");
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.item-2 {
    background-image:url("https://images.unsplash.com/photo-1454994834218-5ffbb76c0e74?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dddc4ee524eee04e325dbc73367391d8&auto=format&fit=crop&w=1651&q=80");
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.item-3 {
    background-image:url("https://images.unsplash.com/photo-1504309092620-4d0ec726efa4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f38e067fcad97bc3b247b3db0859af1c&auto=format&fit=crop&w=1651&q=80");
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.item-4 {
    background-image:url("https://images.unsplash.com/photo-1454994834218-5ffbb76c0e74?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dddc4ee524eee04e325dbc73367391d8&auto=format&fit=crop&w=1651&q=80");
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.item-5 {
    background-image:url("https://images.unsplash.com/photo-1504309092620-4d0ec726efa4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f38e067fcad97bc3b247b3db0859af1c&auto=format&fit=crop&w=1651&q=80");
    /* background-repeat: no-repeat;
    background-size: cover; */
}



#carousel-1:checked ~ #item-3, #carousel-2:checked ~ #item-4,
#carousel-3:checked ~ #item-5, #carousel-4:checked ~ #item-1,
#carousel-5:checked ~ #item-2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(-30%, 0, 0) translateX(-500px) scale(0.5);
    opacity: 0.5;
}

#carousel-1:checked ~ #item-3, #carousel-2:checked ~ #item-4,
#carousel-3:checked ~ #item-1, #carousel-4:checked ~ #item-2,
#carousel-5:checked ~ #item-1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, 0) translateX(-300px);
    opacity: 0.5;
    
}

#carousel-1:checked ~ #item-1, #carousel-2:checked ~ #item-2,
#carousel-3:checked ~ #item-3, #carousel-4:checked ~ #item-4, #carousel-5:checked ~ #item-5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0,0,0);
    opacity: 1;
    z-index: 40;
}

#carousel-1:checked ~ #item-2, #carousel-2:checked ~ #item-3,
#carousel-3:checked ~ #item-4, #carousel-4:checked ~ #item-5,
#carousel-5:checked ~ #item-1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    /* transform: translate3d(15%, 0, -100px) translateX(270px) scale(0.75); */
    opacity: 0.5;
    transform: translate3d(15%, 0, 0) translateX(300px);
}

#carousel-1:checked ~ #item-3, #carousel-2:checked ~ #item-4,
#carousel-3:checked ~ #item-5, #carousel-4:checked ~ #item-1,
#carousel-5:checked ~ #item-2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    /* transform: translate3d(30%, 0, -200px) translateX(500px) scale(0.5); */
    transform: translate3d(30%, 0, 0) translateX(500px) scale(0.5);
    opacity: 0.5;
}








