*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* background: black; */
}
body{
    background: linear-gradient(180deg, black, rgb(27, 38, 77), rgb(42, 59, 123));
    background-repeat: no-repeat;
    color: #fff;
}


/* NAVBAR */
nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 5px 20px;
    background-color: black;
    color: #fff;
    z-index: 100;

}

.logo{
    width: 110px;
    /* min-width: 100px; */
    /* max-width: 110px; */
    padding: 5px 20px 5px 0;
}
.logo img{
    width: 100%;
    /* max-width: 20px; */
    height: 100%;
    margin: 0 auto;
    border-radius: 50px;
}
.nav-icons {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: max-content;
}
.nav-icons ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-icons ul li {
    padding: 16px 20px;
}
.nav-icons ul li a{
    display: flex;
    align-items: center;
    height: 20px;
}

.nav-icons ul li:hover{
    cursor: pointer;
}


.profilePic{
    /* display: none; */
    position: absolute;
    right: 0;
    width: 40px;
    top: 5px;
    margin-right: 15px;
    border-radius: 20px;
    padding: 5px 0;
}
.profilePic img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
    top: -1px;
}
.dropdown-content{
    display: none;
    margin-top: 10px;
    left: 0px;
    position: absolute;
    background-color: #000000;
    min-width: 180px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid rgb(116, 115, 115);
    box-shadow: 0px 8px 16px 0px rgba(172, 172, 172, 0.2);
    z-index: 1;
    padding: 20px;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}

.nav-icons li:hover
.icon-content{
   
    animation: border forwards 1s ;
}


@keyframes border {
    0% {
        width: 0%;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }
    100% {
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }
}
@keyframes iconBorder {
     0% {
        width: 0%;
        border-bottom: 2px solid #fff;
    }
    100% {
        width: 100%;
        border-bottom: 2px solid #fff;
    }
}

.dropdown-content a i {
    font-size: 1.1rem;
    margin-right: 25px;
    width: 10%;
    text-align: right;
}
.dropdown-content a p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.dropdown-content a .fa-star {
    padding-right: 0px;
}

#more-icons{
    display: none;
}


@media (max-width: 750px){
    nav{
        padding: 5px 10px;
    }
    .nav-icons{
        padding-right: 50px;
    }
}


@media (max-width: 1025px ){
    .nav-icons ul{
        font-size: 15px;
    }
    
    .nav-icons ul li {
        padding: 16px 12px;
    }
    .main-icons{
        height: 15px;
    }
    .nav-icons ul .main-icons:hover{
        animation: iconBorder forwards 0.5s ;
    }
    .icons,
    .icon-content{
        display: none;
    }
    #more-icons{
        display: block;
    }
    .dropdown-content a{
        margin-bottom: 5px;
    }

    #more-icons:hover
    .dropdown-content{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        width: 100%;
    }
    .dropdown-content a:hover
    .link-content{
        width: 50%;
        margin: 0 auto;
        border-bottom: 2px solid #fff;
    }
   

}
@media (min-width: 1025px){
    .logo{
        width: 150px;
    }
    .nav-icons ul li i {
    margin-right: 10px;
    }
    #more-icons{
       display: none;
    }

}
/* NAVBAR */

:root{
    --big_width: 80%;
    --big_height: 40%;
    --box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
    --big_nav_width: 12%;
}

.carousel{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow-X: hidden;
    box-sizing: border-box;
    /* background-color: black; */
    margin-bottom: 20px;
}
.carousel-inner {
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	/* width: var(--big_width); */
	/* height: 0; */
	/* padding-bottom: var(--big_height); */
	user-select: none;
	/* background-color: black; */
	/* box-shadow: var(--box-shadow); */

    /* Extra code */
    perspective: 1000px;
    transform-style: preserve-3d;
    z-index: 19;
    width: 80%;
    padding-bottom: 25%;
}


/* TODO: turn it back on after is done */
.carousel input {
    display: none;
}


.img-slide{
	position: absolute;
    height: 100%;
    /* z-index: -1; */
    width: 100%;
    transition: transform 0.3s ease;
    /* Extra code below */
    z-index: 10;
    box-shadow: var(--box-shadow);
    /* max-height: 400px; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-shadow: 2px 1px 2px #111;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.00);
}
.img-slide:hover{
    border: 3px solid #eee;
}

img {
    /* width: inherit; */
    /* height: inherit; */
    width: 100%;
    height: 100%;
}

#img-1{
    background: url("https://images.unsplash.com/photo-1528041119984-da3a9f8d04d1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGlzbmV5fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#img-2{
    background: url("https://images.unsplash.com/photo-1604883781245-0aca44fff711?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGlzbmV5fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
  
    /* background-image: -webkit-linear-gradient(
        top,
        orange,
        yellow 55%, 
        orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

#img-3{
    background: url("https://images.unsplash.com/photo-1598759612090-6fa88db25a1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGRpc25leXxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img-slide h1{
    font-size: 4vw;
}
.img-slide p{
    font-size: 2vw;
    font-weight: 700;
}
@media (max-width: 7700px){
    /* .img-slide h1{
        font-size: 2rem;
    }
    .img-slide p{
        font-size: 1.5rem;
    } */
}

.carousel .prev, .next {
    /* width: var(--big_nav_width); */
    height: 100%;
    position: absolute;
    top: 0;
    /* background-color: black; */
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    /* extra code write below */
    display: none;
    width: 5%;

}

.prev {
    /* left: 0; */
    left: -5%;
}

.next {
    right: -5%;
}

.prev:hover, .next:hover {
    transition: .3s;
    opacity: 1;
}

.prev span, .next span {
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid 20px;
    top: 50%;
    transform: translateY(-50%);
}

.prev span {
    border-color: transparent #fff transparent transparent;
    right: 30%;
}
    
.next span {
    border-color: transparent transparent transparent #fff;
    left: 30%;
}

#indicators {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    /* text-align: center; */
    z-index: 99;
    cursor: default;
    /* Extra code */
    text-align: right;
}

.bullets {
    top: -5px;
    width: 18px;
    height: 18px;
    /* margin: 0 3px; */
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .4s;
    cursor: pointer;
    /* Extra code */
    border: 1px solid #eee;
    margin: 0 10px;
    right: 12%;
}

.bullets:hover{
    background: #fff;
}

#s1:checked ~ #indicators label:nth-child(1),
#s2:checked ~ #indicators label:nth-child(2),
#s3:checked ~ #indicators label:nth-child(3){
    background-color: #fff;
}

#s1:checked ~ #img-1 label,
#s2:checked ~ #img-2 label,
#s3:checked ~ #img-3 label{
    display: block;
}

#s1:checked ~ #img-3, #s2:checked ~ #img-1,
#s3:checked ~ #img-2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    transform: translate3d(-15%, 0, 0) translateX(-90%);
}

#s1:checked ~ #img-1, #s2:checked ~ #img-2,
#s3:checked ~ #img-3 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0,0,0);
    /* opacity: 1; */
    z-index: 20;
}

#s1:checked ~ #img-2, #s2:checked ~ #img-3,
#s3:checked ~ #img-1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    /* transform: translate3d(-15%, 0, 0) translateX(-300px); */
    transform: translate3d(15%, 0, 0) translateX(90%);
}

@media (min-width: 1650px){
    #indicators{
        /* Extra code */
        /* text-align: right; */
        /* position: relative; */
        top: 350px;
        /* display: flex; */
        /* justify-content: flex-end; */
    }
}

/* CATEGORIES */
.categories{
    width: 90%;
    height: 100%;
    padding-bottom: 40px;
    margin: 0 auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(6, 1fr);
}

.section {
    width: 100%;
    /* max-width: 200px; */
    /* height: 100%; */
    height: 9vw;
    padding: 30px 40px;
    border: 3px solid rgb(67, 65, 65);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    
}


@keyframes bigger{
    0% {
        transform: scale(0.95);
        padding: 30px 40px;
    }
    100%{    
        transform: scale(1);
        border: 5px solid #eee;
        padding: 30px 50px;
    }
}


.title{
    position: absolute;
    padding: 5px 10px;
    text-shadow: 1px 2px 1px #111;
    z-index: 50;
    font-size: 1.2vw;
    text-align: center;
}

.section video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    opacity: 0;
}

.section:hover{
    border: 3px solid #eee;
    transition: 0.3s;
    transform: scale(1.05);
    cursor: pointer;
}

.title:hover ~ video{
    opacity: 1;;
}
.section video:hover{
    opacity: 1;
}

@media (max-width: 770px){
    .section{
        height: 15vw;
    }
    .categories{
        grid-template-columns: repeat(3, 1fr);
    }
    .title{
        font-size: 2vw;
    }
}


/* NEW ARRIVALS */
/* 
.image-grid {
    padding: 0 50px;
    overflow-x: auto;
    margin-top: 50px;
} */

.new-shows{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 300px;
    overflow-x: auto;
}

.new-shows input {
    display: none;
}
.new-shows .section{
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 300px;
}
.section .show{
    /* position: relative; */
    /* min-width: 300px; */
    width: 100%;
    height: 100%;
    margin: 10px 20px;
    transform: scale(0.95);
    text-align: center;
    border-radius: 10px;
}


@keyframes bigger{
    0% {
        transform: scale(0.95);
        border: 0px solid #eee;
    }
    100%{    
        transform: scale(1);
        border: 4px solid #eee;
    }
}
.show:hover{
    animation: bigger 0.3s forwards;
}

#show1{
    background: url("https://images.unsplash.com/photo-1598759612090-6fa88db25a1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGRpc25leXxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .controls{
    position: absolute;
    width: 100%;
    height: 10%;
} */

/* .filmSelections{
    width: 90%;
    margin: 0 auto;
} */


/* New to Disney+ */
.disney-categories{
    position: relative;
    padding-bottom: 50px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}
.disney-categories::-webkit-scrollbar{
    visibility: hidden;
}
.disney-categories input{
    display: none;
}
.category-title{
    width: 90%;
    margin: 0 auto;
}
.shows{
    position: absolute;
    display: flex;
    width: 100%;
    /* height: 100%; */
    max-height: max-content;
    /* height: 330awpx; */
    /* margin: 10px auto; */
    justify-content: left;
    /* overflow-x: auto; */
    margin-top: 20px;
    /* margin-left: auto;
    margin-right: auto; */
    left: 3.8%;
    /* overflow: hidden; */
}


.shows::-webkit-scrollbar{
    visibility: hidden;
}
.shows span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
    top: 0;
    width: 80px;
    height: 100%;
    font-size: 80px;
    color: white;
    cursor: pointer;
    left: -4%;
    z-index: 50;
    /* opacity: 0; */
    transition: 0.2s;

}
.shows span:nth-child(2){
    left: 94.5%;
    justify-content: flex-start;
    align-items: center;
    /* right: 0; */
}
.shows span:hover{
    opacity: 1;
}

#slide1:checked ~ .shows span:nth-child(1){
    display: none;
}

#slide2:checked ~ .shows span:nth-child(1){
    display: flex;
}
#slide3:checked ~ .shows span:nth-child(1){
    display: flex;
}
#slide3:checked ~ .shows span:nth-child(2){
    display: none;
}

.film{
    position: relative;
    min-width: 280px;
    height: 200px;
    left: 0;
    text-align: center;
    /* padding-top: 60px; */
    transition: 0.5s;
    margin: 0 30px 0 10px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    text-shadow: 2px 4px 4px #111;
    border-radius: 10px;
    z-index: 40;
}


/* .film:hover{
    transition: 0.1s;
    transform: scale(1.05);
    border: 2px solid #eee;
    cursor: pointer;
} */
.filmName{
    position: absolute;
    padding: 5px 10px;
    text-shadow: 1px 2px 1px #111;
    z-index: 50;
    font-size: 1.2vw;
    text-align: center;
}
@media (max-width: 770px){
    .film{
        min-width: 39vw;
        max-width: 155px;
        height: 25vw;
    }
    .shows span{
        height: 100%;
        left: -16%;
        justify-content: flex-end;
    }
    .shows span:nth-child(2){
        /* left: 81.3%; */
        left: 89%;
        padding-left: 10px;
    }
}  
@media (min-width: 771px){
    .film{
        min-width: 25vw;
        height: 16vw;
        max-height: 150px;
        margin: 0 2vw;
    }
    .shows span{
        opacity: 1;
        left: -75px;
        justify-content: flex-end;
    }
    .shows span:nth-child(2){
        left: 90%;
        padding-left: 10px;
    }
}  

@media (min-width: 924px){
    .film{
        width: 18.5vw;
        height: 50vw;
        max-height: 150px;
    }
    .shows span{
        opacity: 1;
        left: -75px;
        justify-content: flex-end;
    }
    .shows span:nth-child(2){
        left: 91%;
        padding-left: 10px;
    }
}
@media (min-width: 1090px){
    .film{
         min-width: 310px;
        height: 200px;
    }
    .shows span{
        opacity: 1;
        left: -100px;
        justify-content: flex-end;
    }
    .shows span:nth-child(2){
        left: 94%;
        padding-left: 10px;
    }
}



/* .film:nth-of-type(2n+1){
    display: flex;
    align-items: center;
    justify-content: center;
}
.film:nth-of-type(2n){
    display: flex;
}
.film2:nth-of-type(2n+1){
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.film2:nth-of-type(2n){
    display: flex;
} */



#film1{
    background: url("./pictures/toystory.jfif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
#film2{
    background: url("./pictures/moana.jfif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#film3{
    background: url("https://images.unsplash.com/photo-1524008279394-3aed4643b30b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZGlzbmV5fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

